#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

div {
  background-color: #F6F7F9;
}

.headerGrid {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 91px;
    padding: 24px 80px;

    border: 1px solid #E3E6EB;
    background-color: #FFFFFF;
}

.headerGrid button,
.headerGrid div {
    background-color: #FFFFFF;
}

#headerLeft,
#headerRight {
  display: flex;
  align-items: center;
}

#headerLeft {
  gap: 20px;
}

#headerRight {
  gap: 10px;
}

#logoGrid {
  display: flex;
  width: 116px;
  height: 32px;
  gap: 10px;
  align-items: center;
}

.footerGrid {
   box-sizing: border-box;

  

    width: 100%;
    height: 57px;
    padding: 16px 80px;

    border: 1px solid #E3E6EB;
    background-color: #FFFFFF;
}

.footerGrid div {
    background-color: #FFFFFF;
}

#tmdbGrid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}